body{
    background-color:mediumseagreen;
    font-family:sans-serif;
}
.container {
    color: white;
    background: #191919;;
    display: table;
    margin-top: 15%;
    margin-right: auto;
    margin-left: auto;
    height: 280px;
    width: 380px;
    border:2px solid ;
    border-color: green;
    border-radius: 15%;
  }

.itens{
    align-items: center;
    margin-top: 10%;
    margin-left: 25%;
    margin-right: 15%;
}
h1{
    justify-content: center;
    margin-left: 20%;
   

}
input[type="text"], input[type="password"]{
    color: white;
    width: 68%;
    background-color:gray;
    padding: 10px;
    margin:6px;
    border-radius: 25px;
    border:0.5px solid #191919;
    


}

input[type="text"]:focus, input[type="password"]:focus-visible{
    border: solid 3px red;
}

button[type="submit"]{
    width: 75%;
    padding: 10px;
    margin: 6px;
    border-radius: 25px;
    border: 3px ;
}

button[type="submit"]:focus{
    border: solid green;
}